body {
	max-width: 600px ;
	margin: 50px 200px 50px 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 30px 50px;
}

@media only screen and (max-width: 800px) {
	body {
		margin: 50px 20px 50px 20px;
	}
}
